<div class="formularioEmbarcaciones">
  <div class="formHeader">
    <h5>{{ mostrarVacio ? "ALTA EMBARCACIÓN" : "VISTA EMBARCACIÓN" }}</h5>
  </div>
  <form action="">
    <div *ngIf="mostrarVacio">
      <div class="d-flex">
        <div class="formLeft">
          <div class="mb-3 d-flex">
            <label for="nombre" class="form-label">Nombre:</label>
            <input name="nombre" type="text" class="form-control mt-4" placeholder="Nombre" />
          </div>
          <div class="mb-3 d-flex">
            <label for="matricula" class="form-label">Matrícula:</label>
            <input name="matricula" type="text" class="form-control mt-4" placeholder="Matrícula" />
          </div>
          <div class="mb-3 d-flex">
            <label for="modelo" class="form-label">Modelo:</label>
            <input name="modelo" type="text" class="form-control mt-4" placeholder="Modelo" />
          </div>
          <div class="mb-3 d-flex">
            <label for="origen" class="form-label">Origen:</label>
            <input name="origen" type="text" class="form-control mt-4" placeholder="Origen" />
          </div>
          <div class="mb-3 d-flex">
            <label for="titular" class="form-label">Titular:</label>
            <input name="titular" type="text" class="form-control mt-4" placeholder="Titular" />
          </div>
          <div class="mb-3 d-flex">
            <label for="eslora" class="form-label">Eslora:</label>
            <input name="eslora" type="text" class="form-control mt-4" placeholder="Eslora" />
          </div>
          <div class="mb-3 d-flex">
            <label for="manga" class="form-label">Manga:</label>
            <input name="manga" type="text" class="form-control mt-4" placeholder="Manga" />
          </div>
          <div class="mb-3 d-flex">
            <label for="registro" class="form-label">Nº Registro:</label>
            <input name="registro" type="text" class="form-control mt-4" placeholder="Nº Registro" />
          </div>
        </div>
        <div class="formRight">
          <div class="mb-3 d-flex">
            <label for="tipo" class="form-label">Tipo:</label>
            <input name="tipo" type="text" class="form-control mt-4" placeholder="Tipo" />
          </div>
          <div class="mb-3 d-flex">
            <label for="datosTecnicos" class="form-label">Datos técnicos:</label>
            <textarea name="datos" class="form-control mt-4" placeholder="Datos técnicos"></textarea>
          </div>
          <div class="mb-3 d-flex">
            <label for="imagen" class="form-label">Imagen:</label>
            <input name="imgEmb" type="file" class="form-control mt-4" (change)="onFileSelected($event)"/>
          </div>
          <div class="d-flex justify-content-center">
            <img class="imgEmb" [src]="imagenSeleccionada  || '/assets/img/embarcaciones/image-outline.svg'"  alt="" />
          </div>
          <div class="d-flex justify-content-end mt-5">
            <button class="btn btnCancelar" routerLink="../tabla">
              CANCELAR
            </button>
            <button class="btn btnAdd">AÑADIR</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!mostrarVacio">
      <div class="d-flex">
        <div class="formLeft">
          <div class="mb-3 d-flex">
            <label for="nombre" class="form-label">Nombre:</label>
            <input name="nombre" type="text" class="form-control mt-4" placeholder="Nombre"
              [(ngModel)]="embarcacionSeleccionada.nombre" [attr.readonly]="modoVista ? 'readonly' : null" />
          </div>
          <div class="mb-3 d-flex">
            <label for="matricula" class="form-label">Matrícula:</label>
            <input name="matricula" type="text" class="form-control mt-4" placeholder="Matrícula"
              [(ngModel)]="embarcacionSeleccionada.matricula" [attr.readonly]="modoVista ? 'readonly' : null" />
          </div>
          <div class="mb-3 d-flex">
            <label for="modelo" class="form-label">Modelo:</label>
            <input name="modelo" type="text" class="form-control mt-4" placeholder="Modelo"
              [(ngModel)]="embarcacionSeleccionada.modelo" [attr.readonly]="modoVista ? 'readonly' : null" />
          </div>
          <div class="mb-3 d-flex">
            <label for="origen" class="form-label">Origen:</label>
            <input name="origen" type="text" class="form-control mt-4" placeholder="Origen"
              [(ngModel)]="embarcacionSeleccionada.origen" [attr.readonly]="modoVista ? 'readonly' : null" />
          </div>
          <div class="mb-3 d-flex">
            <label for="titular" class="form-label">Titular:</label>
            <input name="titular" type="text" class="form-control mt-4" placeholder="Titular"
              [(ngModel)]="embarcacionSeleccionada.titular" [attr.readonly]="modoVista ? 'readonly' : null" />
          </div>
          <div class="mb-3 d-flex">
            <label for="eslora" class="form-label">Eslora:</label>
            <input name="eslora" type="text" class="form-control mt-4" placeholder="Eslora"
              [(ngModel)]="embarcacionSeleccionada.eslora" [attr.readonly]="modoVista ? 'readonly' : null" />
          </div>
          <div class="mb-3 d-flex">
            <label for="manga" class="form-label">Manga:</label>
            <input name="origen" type="text" class="form-control mt-4" placeholder="Manga"
              [(ngModel)]="embarcacionSeleccionada.manga" [attr.readonly]="modoVista ? 'readonly' : null" />
          </div>
          <div class="mb-3 d-flex">
            <label for="registro" class="form-label">Nº Registro:</label>
            <input name="registro" type="text" class="form-control mt-4" placeholder="Registro"
              [(ngModel)]="embarcacionSeleccionada.numero_registro" [attr.readonly]="modoVista ? 'readonly' : null" />
          </div>
        </div>
        <div class="formRight">
          <div class="mb-3 d-flex">
            <label for="tipo" class="form-label">Tipo:</label>
            <input name="tipo" type="text" class="form-control mt-4" placeholder="Tipo"
              [(ngModel)]="embarcacionSeleccionada.tipo" [attr.readonly]="modoVista ? 'readonly' : null" />
          </div>
          <div class="mb-3 d-flex">
            <label for="datosTecnicos" class="form-label">Datos técnicos:</label>
            <textarea name="datos" class="form-control mt-4" placeholder="Datos técnicos"
              [(ngModel)]="embarcacionSeleccionada.datos_tecnicos"
              [attr.readonly]="modoVista ? 'readonly' : null"></textarea>
          </div>
          <div class="mb-3 d-flex">
            <label for="imagen" class="form-label">Imagen:</label>
            <input name="imgEmb" type="file" class="form-control mt-4" (change)="onFileSelected($event)"/>
          </div>
          <div class="d-flex justify-content-center">
            <img class="imgEmb" [src]="imagenSeleccionada || '/assets/img/embarcaciones/image-outline.svg'" alt="" />
          </div>
          <div class="d-flex justify-content-end mt-5">
            <button class="btn btnBack" routerLink="../tabla">VOLVER</button>
            <button class="btnDelete btn" routerLink="../tabla">ELIMINAR</button>
            <button [ngClass]="{'btn': true, 'btnVista': modoVista, 'btnAdd': !modoVista}"
              (click)="activarModoEdicion()">
              MODIFICAR
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>