
    <div class="formHeader">
          <h5>ALTA EMBARCACIÓN</h5>
    </div>
    <form action="" class="d-flex">
  <div class="formLeft">
    <div class="mb-3 d-flex">
      <label for="nombre" class="form-label">Nombre:</label>
      <input name="nombre" type="text" class="form-control" placeholder="Nombre" />
    </div>
    <div class="mb-3 d-flex">
      <label for="matricula" class="form-label">Matrícula:</label>
      <input name="matricula" type="text" class="form-control" placeholder="Matrícula" />
    </div>
    <div class="mb-3 d-flex">
      <label for="modelo" class="form-label">Modelo:</label>
      <input name="modelo" type="text" class="form-control" placeholder="Modelo" />
    </div>
    <div class="mb-3 d-flex">
      <label for="bandera" class="form-label">Bandera:</label>
      <input name="bandera" type="text" class="form-control" placeholder="Bandera" />
    </div>
    <div class="mb-3 d-flex">
      <label for="titular" class="form-label">Titular:</label>
      <input name="titular" type="text" class="form-control" placeholder="Titular" />
    </div>
    <div class="mb-3 d-flex">
      <label for="eslora" class="form-label">Eslora:</label>
      <input name="eslora" type="text" class="form-control" placeholder="Eslora" />
    </div>
    <div class="mb-3 d-flex">
      <label for="manga" class="form-label">Manga:</label>
      <input name="manga" type="text" class="form-control" placeholder="Manga" />
    </div>
    <div class="mb-3 d-flex">
      <label for="registro" class="form-label">Nº Registro:</label>
      <input name="registro" type="text" class="form-control" placeholder="Nº Registro" />
    </div>
  </div>
  <div class="formRight">
    <div class="mb-3 d-flex">
      <label for="tipo" class="form-label">Tipo:</label>
      <input name="tipo" type="text" class="form-control" placeholder="Tipo" />
    </div>
    <div class="mb-3 d-flex">
      <label for="datosTecnicos" class="form-label">Datos técnicos:</label>
      <textarea class="form-control" placeholder="Datos técnicos"></textarea>
    </div>
     <div class="mb-3 d-flex">
      <label for="imagen" class="form-label">Datos técnicos:</label>
      <input name="imgE" type="file" class="form-control" />
    </div>
  </div>
</form>

