.formularioEmbarcaciones{
padding: 50px;
}
form {
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
}
.formLeft{
    margin-right: 100px;
}
input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #555;
    box-sizing: border-box;

    
}
input[name='nombre']{
        background-image: url(/assets/img/embarcaciones/formIcon_user.svg);
            background-repeat: no-repeat;
            background-position: right;
            background-size: 30px;
}
input[name='matricula'] {
    background-image: url(/assets/img/embarcaciones/formIcon_mat.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30px;
}
input[name='modelo'] {
    background-image: url(/assets/img/embarcaciones/formIcon_modelo.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30px;
}
input[name='bandera'] {
    background-image: url(/assets/img/embarcaciones/formIcon_band.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30px;
}
input[name='titular'] {
    background-image: url(/assets/img/embarcaciones/formIcon_tit.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30px;
}
input[name='registro'] {
    background-image: url(/assets/img/embarcaciones/formIcon_reg.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30px;
}
input[name='eslora'], input[name="manga"] {
    background-image: url(/assets/img/embarcaciones/formIcon_es.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30px;
}
input[name='tipo'] {
    background-image: url(/assets/img/embarcaciones/formIcon_tip.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30px;
}
input[name='imgE'] {
    background-image: url(/assets/img/embarcaciones/formIcon_img.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30px;
}
label{
    width: 200px;
    font-weight: bold;
}

.formHeader{
    padding: 6px;
    font-weight: bold;
    font-family: 'Questrial', sans-serif;
    color: #ffffff;
    background-color: var(--wedgewood950);
    border-radius: 5px 5px 0px 0px;
}

.btnCancelar {
    text-decoration: none;
    background-color: var(--goldenTainoi300);
    color: var(--goldenTainoi900);
}

.btnAdd {
    background-color: var(--titanWhite900);
    color: var(--titanWhite50);
    margin-left: 10px;
}

.btnVista {
    background-color: var(--regentStBlue300);
    color: var(--regentStBlue950);
    margin-left: 10px;
}

.btnDelete {
    background-color: var(--gold500);
    color: var(--gold950);
    margin-left: 10px;
}


