
  <div class="row" >
      
    <div class="col-md-3">
      <app-card [titulo]="titulo" [primera]="texto1"  [segunda]="comprueba"  [tercera]="prueba"></app-card>
      
    </div>
    <div class="col-md-3">
      <app-card [primera]="texto2"></app-card>
    </div>
    <div class="col-md-6">
        <app-cardconchart  [chartType]="'bar'"></app-cardconchart>
      </div>
  </div>
  
  <div class="row">
   
    <div class="col-md-3">
      <app-card [primera]="texto3"></app-card>
    </div>
    <div class="col-md-3">
      <app-card [primera]="texto4"></app-card>
    </div>
    <div class="col-md-6">
        <app-cardconchart [chartType]="'bar'"></app-cardconchart>
        
      </div>
  </div>
  
  <div class="row">
    
    <div class="col-md-3">
      <app-card [primera]="texto5"></app-card>
     
    </div>
    <div class="col-md-3">
      <app-card [primera]="texto6"></app-card>
     
    </div>
    <div class="col-md-6">
  

    </div>
    <div class="col-md-3">
   
    </div>
  </div>
  
  <div class="row">
   
    <div class="col-md-6">
     <!-- <app-cardconchart [titulo]="titulo1" [texto]="texto5"></app-cardconchart>-->
      <app-cardconchart ></app-cardconchart>
    </div>
    <div class="col-md-6">
      <app-cardconchart></app-cardconchart>
    </div>
  </div>

    
