<app-plantillas>
    <div class="row">
      
        <div class="col-md-3">
          <app-card [texto]="texto1"></app-card>
          
        </div>
        <div class="col-md-3">
          <app-card [texto]="texto2"></app-card>
        </div>
        <div class="col-md-6">
            <app-card-con-chart [texto]="texto5"></app-card-con-chart>
          </div>
      </div>
      
      <div class="row">
       
        <div class="col-md-3">
          <app-card [texto]="texto3"></app-card>
        </div>
        <div class="col-md-3">
          <app-card [texto]="texto4"></app-card>
        </div>
        <div class="col-md-6">
            <app-card-con-chart [texto]="texto5"></app-card-con-chart>
          </div>
      </div>
      
      <div class="row">
        
        <div class="col-md-3">
          <app-card [texto]="texto5"></app-card>
         
        </div>
        <div class="col-md-3">
          <app-card [texto]="texto6"></app-card>
        </div>
      </div>
      
      <div class="row">
       
        <div class="col-md-6">
            <app-card-con-chart [texto]="texto5"></app-card-con-chart>
        </div>
        <div class="col-md-6">
            <app-card-con-chart  [texto]="texto5"></app-card-con-chart>
        </div>
      </div>
    
  </app-plantillas>
