
 <table datatable [dtOptions]="dtOptions" class="table table-hover table-custom-hover rounded-3 overflow-hidden">
<thead>
    <tr>
        <th [attr.colspan]="12">
            EMBARCACIONES
        </th>
    </tr>
    <tr class="cabeceraDatos text-center">
        <th>Matrícula</th>
        <th>Manga</th>
        <th>Eslora</th>
        <th>Origen</th>
        <th>Titular</th>
        <th>Imagen</th>
        <th>Nº De registro</th>
        <th>Datos técnicos</th>
        <th>Modelo</th>
        <th>Nombre</th>
        <th>Tipo</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let item of datos;let i=index">
        <td>{{item.matricula}}</td>
        <td>{{item.manga}}</td>
        <td>{{item.eslora}}</td>
        <td>{{item.origen}}</td>
        <td>{{item.titular}}</td>
        <td>{{item.imagen}}</td>
        <td>{{item.numero_registro}}</td>
        <td>{{item.datos_tecnicos}}</td>
        <td>{{item.modelo}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.tipo}}</td>

    </tr>
</tbody>

 </table>