<div class="azul500 col-md-2 d-flex flex-column">
  <img alt="Bootstrap Image Preview" src="/assets/img/Group.svg" class="logo" />
  <app-boton
    clase="botonA"
    label="Panel de control"
    [route]="dashboardRoute"
    imageUrl="assets/img/control.svg"
  ></app-boton>
  <app-boton
    clase="botonA"
    label="Gestion de transitos"
    [route]="transitosRoute"
    imageUrl="assets/img/tran.svg"
  ></app-boton>
  <app-boton
  clase="botonA"
  label="Gestion de pruebas de transito"
  [route]="transitos2Route"
  imageUrl="assets/img/tran.svg"
></app-boton>
  <app-boton
    clase="botonA"
    label="Gestion de embarcaciones"
    [route]="embarcacionRoute"
    imageUrl="assets/img/embDark.svg"
  ></app-boton>
</div>
