


<div class="container-fluid">
	<div class="row">
		<div class="azul500 col-md-2 d-flex flex-column  ">
			<img alt="Bootstrap Image Preview" src="/assets/img/Group.svg" class="logo" /> 
			<button type="button" class="btn  mt-5 botonNavA">
				Button
			</button> 
			<button type="button" class="btn  mt-5 botonNavA">
				Button
			</button> 
			<button type="button" class="btn  mt-5 botonNavB">
				Button
			</button>
		</div>
		<div class="col-md">
			<div class="row ">
				<div class="arriba col-md-12  d-flex justify-content-end ">
					<h3 class="mt-3">
						¡Hola Susana!
					</h3> 
				</div>
			</div>
			<div class="row">
				<div class="contenido col-md-12 d-flex justify-content-center align-items-center">
					<app-tabla></app-tabla>
				</div>
			</div>
		</div>
	</div>
</div>