<!-- <button *ngIf="!bloqueado; else botonBloqueado" [ngClass]="[claseDesbloqueado]" (click)="navigate()">
  <img *ngIf="imageUrlDesbloqueado" [src]="imageUrlDesbloqueado" alt="Icon">
  {{ label }}
</button>

<ng-template #botonBloqueado>
  <button [ngClass]="[claseBloqueado]"(click)="navigate()">
    <img *ngIf="imageUrlBloqueado" [src]="imageUrlBloqueado" alt="Icon">
    {{ label }}
    
  </button>
</ng-template> -->
<!-- <ng-container *ngIf="!bloqueado; else botonBloqueadoTemplate">
  <button [ngClass]="[claseDesbloqueado]" (click)="navigate()">
    <img *ngIf="imageUrlDesbloqueado" [src]="imageUrlDesbloqueado" alt="Icon">
    {{ label }}
  </button>
</ng-container>

<ng-template #botonBloqueadoTemplate>
  <button [ngClass]="[claseBloqueado]" (click)="navigate()">
    <img *ngIf="imageUrlBloqueado" [src]="imageUrlBloqueado" alt="Icon">
    {{ label }}
  </button>
</ng-template> -->
<!-- <button class="btnCustom" (click)="navigate()">
  <img *ngIf="imageUrlDesbloqueado" [src]="imageUrlDesbloqueado" alt="Icon">
{{ label}}
</button> -->

<!-- <ng-container *ngIf="!bloqueado; else bloqueadoTemplate">
  <button class="btnCustom" (click)="navigate()">
    <img *ngIf="imageUrlDesbloqueado" [src]="imageUrlDesbloqueado" alt="Icon">
    {{ label }}
  </button>
</ng-container>

<ng-template #bloqueadoTemplate>
  <button class="btnCustom bloqueado" (click)="navigate()">
    <img *ngIf="imageUrlBloqueado" [src]="imageUrlBloqueado" alt="Icon">
    {{ label }}
  </button>
</ng-template> -->

<button [ngClass]="bloqueado ? [claseBloqueado] : [claseDesbloqueado]" (click)="navigate()">
  <img *ngIf="!bloqueado && imageUrlDesbloqueado" [src]="imageUrlDesbloqueado" alt="Icon">
  <img *ngIf="bloqueado && imageUrlBloqueado" [src]="imageUrlBloqueado" alt="Icon">
  {{ label }}
</button>