.table
{
  
border-radius: 10px 0px 0px 10px;
border: 1px solid var(--Wedgewood-400, #769CBA);
background: var(--Wedgewood-400, #769CBA);
width: 100%;
height: 30%;
margin-top: 15px;
margin-bottom: 15px;
}
.cabeceraDatos>th
{
    
    border-right: 1px solid var(--Wedgewood-400, #769CBA);
    background: var(--Wedgewood-400, #769CBA);
    color: white;
      
}
.img
{
    position: relative;
    left: 500px;
   
}
