.table
{
  
border-radius: 10px 0px 0px 10px;
border: 1px solid var(--Wedgewood-400, #769CBA);
background: var(--Wedgewood-400, #769CBA);
width: 100%;
height: 40%;
margin-top: 15px;
margin-bottom: 15px;
}
.agregar-tripulante-link {
    position: absolute;
    right: 0px; 
    top: -10px;/* Ajusta la posición horizontal según necesites */
    z-index: 999; /* Asegura que esté sobre la tabla */
  }
  
.cabeceraDatos>th
{
    
    border-right: 1px solid var(--Wedgewood-400, #769CBA);
    background: var(--Wedgewood-400, #769CBA);
    color: white;
      
}
.img
{
    position: relative;
    left: 500px;
   
}
input
{
    width: 120px;
}
