<br>

<div class="card">
    <div class="card-header">
      VISTA DEL TRÁNSITO
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <form id="formEmbarcacion" class="row justify-content-center" (submit)="guardarEmbarcacion()" enctype="multipart/form-data">
          <div class="col-12 text-center mt-4">
            <input name="Imagen" type="file" class="form-control mt-4" (change)="onFileSelected($event)" />
          </div>
          <div class="d-flex justify-content-center">
            <img class="imgEmb" [src]="imagenSeleccionada || '/assets/img/embarcaciones/image-outline.svg'" alt="" />
          </div>
          <div class="col-12 text-center mt-4">
            <button type="submit" class="btn btnAdd">AÑADIR</button>
          </div>
        </form>
  
        <div class="row justify-content-center">
          <div class="col-12 text-center mt-5">
            <hr>
          </div>
        </div>
  
        <div class="row justify-content-end mt-2">
          <div class="col-12 text-right">
            <a href="movil/card-incidencia"> <i class="incidencia">Incidencia</i> <img src="/assets/img/Error.svg" alt="Incidencia" class="img-fluid"></a>
          </div>
        </div>
  
        <div class="row justify-content-center">
          <div class="col-12 mt-4">
            <b>Ubicación:</b> {{ transito.Ubicacion }}
            <br>
            <b>Matrícula:</b> {{ transito.Matricula }}
            <br>
            <b>Llegada:</b> {{ transito.FechaEntrada }}
            <br>
            <b>Salida:</b> {{ transito.FechaSalida }}
            <br>
            <b>Estado:</b> {{ transito.Estado }}
          </div>
        </div>
  
        <div class="row justify-content-center">
          <div class="col-12 mt-5 ml-4">
            <button type="button" class="btn botonConf">
              <b>CONFIRMAR SALIDA</b>
            </button>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  







