.notificaciones {
    padding: 50px;
}

table{
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
    
}

th {
    background-color: var(--wedgewood600);
    color: var(--wedgewood50);
    font-family: 'Questrial', sans-serif;
    /* font-weight: bold; */
}

.cabeceraTabla {
    font-size: 30px;
    font-weight: lighter;
}

td {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
    color: #000000;
    /* opacity: 0.5; */
    /* filter: blur(5px); */

}

.cabeceraDatos>th {
    background-color: var(--wedgewood300);
    color: black;
    font-weight: bold;

}

.table-striped>tbody>tr:nth-child(even)>td {
    background-color: var(--wedgewood200);

}

.filaPersonalizada {
    height: 100px;
}