<div class="notificaciones">
  <table
    datatable
    [dtOptions]="dtOptions"
    class="table table-hover table-custom-hover rounded-3 overflow-hidden table-striped"
  >
    <thead>
      <tr>
        <th [attr.colspan]="12" class="cabeceraTabla">NOTIFICACIONES</th>
      </tr>
      <tr class="cabeceraDatos">
        <th class="text-center">Usuario</th>
        <th class="text-center">Título</th>
        <th class="text-center">Descripción</th>
        <th class="text-center">Foto</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of datos; let i = index"
        class="filaPersonalizada text-center"
      >
        <td class="p-4">{{ item.GuardamuellesID }}</td>
        <td class="p-4">{{ item.Titulo }}</td>
        <td class="p-4">{{ item.Descripcion }}</td>
        <td class="p-4">{{ item.Foto }}</td>
      </tr>
    </tbody>
  </table>
</div>
