.notificaciones{
    padding: 50px;
}
th {
    background-color: var(--wedgewood600);
    color: var(--wedgewood50);
    /* font-weight: bold; */
}

.cabeceraDatos>th {
    background-color: var(--wedgewood300);
    color: black;
    font-weight: bold;

}

.table-striped>tbody>tr:nth-child(odd)>td {
    background-color: var(--wedgewood200);

}