label {
    width: 200px;
    font-weight: bold;
}
form {
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
}
input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #555;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30px;


}